<p>Dear <b>{{firstName}} {{lastName}}</b>, <br /><br />
An administrator has created an account for you on {{ts}}<br />
{{#if link.addUser}}
Please click the following link to set a password to your account: <a href='{{link.addUser}}'>{{link.addUser}}</a>.<br /><br />
{{^}}
The administrator set as password the following: {{password}}<br /><br />
{{/if}}
Please note you can change your password after you login.<br /><br />
Regards,<br/>
The Team.
</p>
