<p>Dear <b>{{username}}</b>, <br /><br />
You have requested to change your email.<br />
Here is the code in order to proceed: {{code}}.<br />
Please note that the above code will expire in {{limit}} hours.<br /><br />
Regards,<br/>
The Team.
</p>