<p>Dear <b>{{username}}</b>, <br />
You have requested to reset your password.<br />
Here is the code in order to proceed: {{code}}.<br />
Please note that the above code will expire in {{limit}} hours.<br /><br />
Regards,<br/>
SOAJS Team.
</p>